.jumbotron {
  background-image: url("/img/medidor.jpg");
  background-size: cover !important;
  height: 200px;
  background-position: center;
  width: auto;
  background-repeat: no-repeat;
  text-align: center;
}

.sound-picker button:nth-child(1) {
  background: #eceff1;
}

.song,
.play {
  outline: none;
}
